@use '../../abstract/' as *;

.post-container{
    background-color: $black;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: 1fr 1fr;

    .summary{
        position: relative;
        // background-position-x: 0%;
        // background-position-y: 0%;
        background-repeat: no-repeat;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        overflow: hidden;
        z-index: 0;
        grid-column: 1 / 2;
        
        .bg-overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.274);
            z-index: 1;
            pointer-events: none;
        }

        &-text{
            position: relative;
            z-index: 2;
            height: 100%;
            width: 100%;
            backdrop-filter: blur(8px);
            @extend %flex-center-column;
            justify-content: space-evenly;
            padding-top: 100px;

            &>h1,.info,.description{
                padding-bottom: 35px;
            }
            
            h1{
                @extend %fdb-bl35;
                text-align: center;
                width: 95%;
                // margin-bottom: 50px
            }
            
            .info{
                text-align: center;

                
                &>p{
                    @extend %nunito-r15;
                }
            }
            .description{
                text-align: center;
                width: 80%;
                @extend %nunito-r20;
                // margin-bottom: 150px;
            }
            .list{
                width: 80%;
                
                &>li{
                    list-style: none;
                    margin-bottom: 8px;
                    &>a.active{
                        font-family: "Nunito-semibold";
                        font-weight: bold
                    }
                    &>a{
                        @extend %nunito-r20;
                    }

                }
            }
        }
    }

    .article-container{
        min-height: 100vh;
        padding-top: 100px;
        gap: 80px;
        grid-column: 2 / 5;
        @extend %flex-center-column;

        .title-container{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            
            .subpart-title{
                @extend %nunito-bl30;
                text-align: center;
                text-align: center;
                width: 71%;
                margin-bottom: 50px;
            }
            .underline-container{
                display: flex;
                justify-content: end;
                  width: 100%;
                
                .underline{
                    height: 3px;
                    background-color: white;
                    width: 60%;
                    border-radius: 10px;
                }
            }
        }

        .post-content{
            height: 50vh;
            overflow-y: scroll;
            width: 84%;
            scrollbar-width: thin;
            
        }
        .post-content::-webkit-scrollbar{
            width: 0px;
        }
    }
}

@media screen and (max-width:768px) {
    .post-container{
        display: block;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr;

        &>.summary{
            width: 100vw;

            &>.summary-text{
                padding-top: 100px;

                &>h1,.info,.description{
                    padding-bottom: 20px;
                }
                &>.list>li{
                    text-align: center;
                }
            }
        }

        &>.article-container{
            width: 100vw;
           padding-top: 50px; 

           &>h2{
               padding-bottom: 20px;
           }
           .post-content{
            width: 85%;
            height: auto;
           }
           &>.underline{
            display: none;
           }
        }
    }
}