{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
<div class="acceuil-container">
    <section id="acceuil">
        <h1>EXPERTISE EN URBANISME<br>
        AU SERVICE DE VOS PROJETS</h1>

        <p>Ensemble, façonnons des espaces urbains<br>
         qui résonnent avec l’âme de la Guadeloupe</p>

        <div class="btn-container">
            <a class="btn-contact" href="#">PRENDRE RDV</a>
            <a class="btn-info" href="#">EN SAVOIR +</a>
        </div>
    </section>
    
    <section id="activity">
        <h2>DOMAINE D’ACTIVITÉ</h2>

        <div class="container">
            <p>Transformez<br>
             votre vision urbaine<br>
            en réalités concrètes</p>

            <div class="title-container">
                <p>Étude & Expertise en urbanisme</p>
            </div>
            <div class="title-container">
                <p>Conception de document d’urbanisme</p>
            </div>

        </div>
        <a class="btn-info"href="#">EN SAVOIR +</a>
    </section>

    <section id="advantages">
        <h2>CONCEPTION & CRÉATION : LES AVANTAGES D’UN EXPERT À VOS CÔTÉS</h2>

        <p>Avec Okai, vivez l’expertise guadeloupéenne, 
        l’engagement et une vision audacieuse. Découvrez-nous !</p>

        <div class="card-container">
            <h3 class="card-title">Expertise locale</h3>
            <p class="card-text"></p>
        </div>
    </section>
</div>
{% endblock %}
