@use '../../abstract/' as *;


.guide-container table td img {
    max-width: 70px;
    max-height: 70px;
}
.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px; 
}

.guide-container{
  padding-top: 90px;
  min-height: 100vh;
  margin-inline: 25px;

  h1{
    margin-block: 10px;
    @extend %fdb-b30;
    text-align: center;

  }
  .btn-contact-small{

    i{
      display: flex;
    }
  }
    table {
        margin-top: 25px;
        border: 1px solid #ccc;
        border-collapse: collapse;
        padding: 0;
        width: 100%;
        table-layout: fixed;
      }
      
      table tr {
        // background-color: #f8f8f8;
        // border: 1px solid #ddd;
        background-color: #bdaa92;
        border: 1px solid #000;
        padding: .35em;
      }
      
      table th,
      table td {
        padding: .625em;
        text-align: center;

        .publication-status{
          
          &-yes{
            height: 20px;
            width: 20px;
            border-radius: 25px;
            outline: .5px solid;
            margin-inline: auto;
            background: #23a423;
          }
          &-no{
            height: 20px;
            width: 20px;
            border-radius: 25px;
            outline: .5px solid;
            margin-inline: auto;
            background: #a42323;
          }
        }

        a{
          color: black;
          text-decoration: underline;
        }
      }
      
      table th {
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
      }
      
      @media screen and (max-width: 1028px) {
        table {
          border: 0;
        }
      
        table caption {
          font-size: 1.3em;
        }
        
        table thead {
          border: none;
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;
        }
        
        table tr {
          // border-bottom: 3px solid #ddd;
          display: block;
          margin-bottom: .625em;
        }
        
        table td {
          border-bottom: 1px solid #000000;
          display: flex;
          justify-content: space-between;
          font-size: .8em;
          text-align: right;

          .publication-status-yes , .publication-status-no{
            margin-inline: initial;
          }
        }
        
        table td::before {
          /*
          * aria-label has no advantage, it won't be read inside a table
          content: attr(aria-label);
          */
          content: attr(data-label);
          float: left;
          font-weight: bold;
          text-transform: uppercase;
        }
        
        table td:last-child {
          border-bottom: 0;
        }
    }
}
