@use '../abstract/' as *;

section#guide{
    margin-bottom: 150px;
        
    .title{
        @extend %fdb-extrab70;
        margin-bottom: 76px;
        margin-left: 8vw;
    }
    .description{
        width: 80%;
        @extend %nunito-r30; 
        text-align: end;
        margin-right: 8vw;
        margin-bottom: 149px;
        float: right;
    }
    .swiper {
        width: 100%;
        height: 100%;
        margin-left: 10vw;
    }

    .swiper-slide {
        cursor: grab;
        text-align: center;
        font-size: 18px;
        // background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        a{
            height: 100%;
            width: 100%;

            .img-container {
                display: block;
                width: 100%;
                aspect-ratio: 16/9;
                object-fit: cover;
                border-radius: 30px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
            }
            h4{
                font-weight: normal;
                // width: 70%;
                margin-block: 33px 20px;
                @extend %nunito-bl30;
            }
        }

    }
}
@media screen and (max-width:768px) {
    section#guide{
        .swiper-slide{
            .img-container{
                border-radius: 15px;
            }
        }
    }
}