@use '../abstract/' as *;

section#prestation{
    min-height: 100vh;
    margin-bottom: 150px;

    &>h2{
        margin-bottom: 88px;
        margin-left: 8vw;
        @extend %fdb-bl70;
    }
    &>p{
        text-align: center;
        width: 85vw;
        margin: auto;
        @extend %nunito-r25;
        margin-bottom: 70px;
    }
    &>.card-container{
        margin-inline: 14.6vw;
        // height: 400px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr); 
        row-gap: 5VW;
        column-gap: 5VW;

        &>.card{
            @extend %flex-center-column;
            background-color: $transparent;
            backdrop-filter: blur(12px);
            -webkit-backdrop-filter: blur(12px);
            border-radius: 45px;
            padding-block: 31px;
            padding-inline: 12px;
            gap: 25px;

            &>.card-title{
                text-align: center;
                @extend %nunito-bl40;
                
            }
            &>.card-text{
                width: 90%;
                text-align: center;
                @extend %nunito-r30;

                &>.card-txt-weight{
                    @extend %nunito-r30;
                }
            }
        }
        &>.contact-card{
            justify-content: space-around;
            align-items: start;
            @extend %flex-center-column;

            &>h2{
                @extend %fdb-bl60;
            }
        }
    }
}

@media screen and (max-width:1000px) {
    
    section#prestation{
        &>.card-container{
            margin-inline: auto;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(4, 1fr); 
            height: auto;
            gap: 43px;
            width: 90vw;
            
            // &>.card:nth-child(2),.card:nth-child(3){
            // }
            &>.card{
                padding-top: 40px !important;
                width: 100%;
                padding: 0;

                &>.card-title{
                    margin-inline: 15px;
                    // margin-bottom: 40px;
                    color: $lightblue;

                    &>.card-txt-weight{
                        color: $lightblue;
                    }
                }
                &>.card-text{
                    padding-bottom: 30px;
                    
                    &>.card-txt-weight{
                        font-family: "Nunito-black";
                    }
                }
            }
            &>.contact-card{
                align-items: center;

                &>h2{
                    text-align: center;
                }
            }
        }
    }
}
// @media screen and (max-width:1025px) {
        
//     section#prestation{
        
//         &>.card-container{
//             width: 90vw;
//             min-height: 420px;

//             &>.card{
//                 padding-top: 50px;
//                 justify-content: center; 
                
//                 &>.card-title{
//                 margin-bottom: 50px;
//                 }
//                 &>.card-text{
//                     width: 90%;
//                 }
//             }
//         }
//     }
// }