@use '../abstract/' as *;

.sticky-column{

    height: 100vh;
    width: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    position: sticky;
    gap: 40px;
    z-index: 500;
    margin-left: -30px;
    float: left;
    top: 0;
    left: 18px;
    padding-top: 90px;

    &>.column-line{
        margin-top: 10px;
        height: 60%;
        width: 2px;
        background-color: white;
    }
    &>.rs{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 37px;
        margin-bottom: 15px;

        &>a{
            width: 100%;
            height: 35px;
            &>img{
                width: 100%;
                height: 35px;
            }
        }
    }
    @media screen and (max-width:1100px) {
        display: none;
    }
}