//? COLORS //

$black : #111111;
$lightgrey : #00000029;
$lightblue : #CADCF9;
$midblue : #2B5094;
$highblue : #2D5299;
$grey : #00000095;
$transparent : #cac6c629;
// $transparent : rgba(57, 53, 53, 0.43);

//* Flex //


%flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


%flex-center-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
%flex-center-down{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
}

%center-space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
//? Aide texte //
.line-break-md{
    display: block;
}
@media screen and (max-width:768px) {
    .line-break-md{
        display: inline;
    }
}

@media screen and (max-width:768px) {
    .line-break{
        display: block;
    }
}

//? temporaire
.temp-hidden{
    display: none;
}
//? Buttons //

%btn-contact{
    cursor: pointer;
    border: none;
  background-color: white;
  border-radius: 20px;
  width: 230px;
  height: 59px;
  @extend %flex-center;
  text-align: center;
  color: $midblue;
  font-family: "Nunito-black";
  font-size: clamp(0.75rem, 0.6757rem + 0.3604vw, 1rem);

  @media screen and (max-width:768px) {
    width: 178px;
    height: 45px;
    border-radius: 30px;

  }
}
.btn-contact{
    @extend %btn-contact;
}
.btn-contact-small{
    width: 160px;
    height: 39px;
    @extend %btn-contact;
}

%btn-info{
    cursor: pointer;
    border: none;
    background-color: rgba(255, 255, 255, 0.247);
    border-radius: 20px;
    height: 59px;
    width: 230px;
    @extend %flex-center;
    text-align: center;
    color: white;
    font-family: "Nunito-black";
    font-size: 18px;
    
    @media screen and (max-width:768px) {
        width: 178px;
        height: 45px;
        font-size: 13px;
        border-radius: 30px;
    }
}
.btn-info{
    @extend %btn-info;
}
