//? COLORS //

$black : #111111;
$lightgrey : #00000029;
$lightblue : #CADCF9;
$midblue : #2B5094;
$highblue : #2D5299;
$grey : #00000095;


//* Flex //


%flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


%flex-center-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

%center-space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


//? Buttons //

%btn-contact{
    border: none;
  background-color: white;
  border-radius: 30px;
  padding-inline: 65px;
  padding-block: 22px;
  @extend %flex-center;
  text-align: center;
  color: $midblue;
  font-family: "Nunito-black";
  font-size: 18px;
}
.btn-contact{
    @extend %btn-contact;
}
.btn-contact-small{
    padding-inline: 40px;
    padding-block: 15px;
    @extend %btn-contact;
}
%btn-info{
    border: none;
    background-color: rgba(255, 255, 255, 0.247);
    border-radius: 30px;
    padding-block: 24px;
    padding-inline: 77px;
    @extend %flex-center;
    text-align: center;
    color: white;
    font-family: "Nunito-black";
    font-size: 18px;
}
.btn-info{
    @extend %btn-info;
}
