//? COLORS //

$black : #111111;
$lightgrey : #00000029;
$lightblue : #CADCF9;
$midblue : #2B5094;
$highblue : #2D5299;
$grey : #00000095;


//* Flex //


%flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


%flex-center-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

%center-space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


//? Buttons //

%btn-contact{
  background-color: white;
  border-radius: 30px;
  width: 200px;
  height: 48px;
  @extend %flex-center;
  text-align: center;
  color: $midblue;
  font-family: "Nunito-black";
  font-size: 18px;
}