    <section id="contact">
    <div class="contact-container">
            <div class="text-container">
                <h2>FORMULAIRE</h2>
                <h3>Mettons en scène les villes de demain !</h3>
                <p>Confiez-nous vos coordonnées et <span class="line-break-md"></span>
                 entrons ensemble dans l’ère d’un <span class="line-break-md"></span>
                 urbanisme renouvelé.</p>
            </div>
            <div class="form-container">
            {% include "./components/_contact_form.html.twig" %}
            </div>
        </div>
        <div class="bg-overlay"></div>
    </section>