    <div class="sticky-column">
        <div class="column-line"></div>
        <div class="rs">
                <a href="https://www.instagram.com/cabinet.okai/">
                    <img src="{{asset("/images/instagram-white.svg")}}" alt="">
                </a>
                <a href="https://www.facebook.com/cabinetokai/">
                    <img src="{{asset("/images/facebook-white.svg")}}" alt="">
                </a>
                <a id="scroll" onclick="window.scrollTo({top : document.body.scrollHeight, left:0, behavior: &quot;smooth&quot; ,})" >
                    <img src="{{asset("images/arrow-down-white.svg")}}" alt="">
                </a>
        </div>
    </div>
