<form method="post" action="{{ path('app_guide_delete', {'id': guide.id}) }}"
 onsubmit="return confirm('Supprimer l&quot; article ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ guide.id) }}">
    <button style="border:none; background-color:transparent;cursor:pointer;">
        <i class="bi bi-trash"></i>
    </button>
</form>
