@use '../abstract/' as *;

.acceuil-container{

    section#acceuil{
        background-color: $black;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 50px;
        padding-top: 36vh;
        padding-left: 12vw;
        padding-bottom: 14vh;

        .titre{
            @extend %fdb-bl80;
        }
        &>p{
            @extend %nunito-r40;
        }
        &>.btn-container{
            display: flex;
            gap: 77px;
        }
    }


    section#activity{
        background: url('../../../../public/images/double-ligne-bg.png');
        background-size: 101%;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh;
        padding-left: 11vw;
        padding-right: 5vw;
        margin-bottom: 232px;
        margin-top:285px ;
        
        &>h2{
            @extend %fdb-bl60;
            
            padding-bottom: 229px;
        }
        &>.container{
            display: flex;
            gap: 5vw;
            align-items: center;

            &>p{
                // transform: rotateY(30deg);
                // transform: rotate3d(0.3,1,0,25deg);
                transform: rotate3d(0, 80, 0, 45deg);
                line-height: 37px;
                @extend %nunito-r40;
            }

            &>.title-container{
                background-color: rgba(255, 255, 255, 0.13);
                backdrop-filter: blur(12px);
                -webkit-backdrop-filter: blur(12px);
                // box-shadow: 0 0px 15px 1.5px #31313175;
                border-radius: 50px;
                width: 25vw;
                // height: 15vh;
                height: 170px;
                position: relative;
                padding-inline: 10px;
                
                &>p{
                    // font-size: 48px;
                    @extend %fdb-bl70;
                    position: absolute;
                    top: -50%;
                    left: -35px;
                }

            }
        }
        &>.btn-info{
            background-color: rgba(255, 255, 255, 0.13);
            backdrop-filter: blur(12px);
            -webkit-backdrop-filter: blur(12px);
            margin-top: 120px;
            margin-inline: 29vw auto;
        }
    }


    section#advantages{
        min-height: 100vh;
        background-color: $black;
        margin-bottom: 186px;

        &>h2{
            margin-left: 10vw;
            @extend %fdb-bl60;
            margin-bottom: 70px;
        }
        &>p{
            margin-left: 10vw;
            margin-bottom: 40px;
            @extend %nunito-r30;
            
            .discover-link{
                @extend %nunito-bl30;
            }
        }
        &>.card-container{
            @extend %flex-center;
            gap: 50px;

            &>.card{
                background-color: rgba(255, 255, 255, 0.247);
                border-radius: 55px;
                width: 26vw;
                height: 454px;
                transition: background-color 0.2s ease;
                
                
                &>.card-title{
                    @extend %nunito-bl40;
                    text-align: center;
                    margin-top: 48px;
                    margin-inline: auto;
                    margin-bottom: 72px;
                }
                &>.card-text{
                    @extend %nunito-r30;
                    text-align: center;
                    padding-bottom: 29px;
                    
                }
            }
            &>.card:hover{
                background-color: $highblue;
            }
            &>.card:nth-child(3)>.card-title{
                margin-bottom: 28px;
                
            }
            
        }
        &>.btn-contact{
            margin-top: 102px;
            margin-inline: auto;
        }
    }
    

    section#urbanisme{
        background-color: $black;

        &>h2{
            @extend %fdb-bl60;
            margin-bottom: 138px;
            margin-left: 10vw;
        }
        &>.selector-container{
            width: 100%;
            height: 85vh;
            display: flex;
            justify-content: space-between;

            &>.selector-display{
                width: 48.8vw;
                border-radius: 0px 30px 30px 0px;
                background-color: rgba(255, 255, 255, 0.247);
                display: flex;
                justify-content: center;
                align-items: center;
                backdrop-filter: blur(12px);

                &>.sel-card:nth-child(1){
                    // gap: 3vh;
                }
                &>.sel-card{
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 6vh;
                    transition: all 0.5s cubic-bezier(.6,-0.28,.74,.05);

                    &>.sel-card-title{
                        width: 32vw;
                        text-align: center;
                        @extend %nunito-bl30;
                    }
                    &>.sel-card-text{
                        font-size: clamp(1rem, 0.5982rem + 2.0089vw, 1.5625rem);
                        width: 31vw;
                       line-height: 30px;
                       font-family: "Nunito-regular";
                       color: white;
                    }
                    &>.btn-contact{
                        padding-inline:36px ;
                    }

                }
                &>.sel-card-hidden{
                    position: absolute;
                    opacity: 0;
                    transform: translateX(-100%);
                }
                &>.sel-card-show{
                    position: initial;
                    opacity: 1;
                    
                }
            }
            &>.selector{
                width: 43vw;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                

                &>a{
                    font-size: clamp(1.25rem, 0.1563rem + 2.1875vw, 2.125rem);
                    @extend %fdb-bl40;
                    transition: all 0.2s ease-in-out;
                }
                &>a:hover{
                    color: $lightblue;
                    scale: .9;
                }

            }
        }
        &>.btn-info{
            margin-block: 100px 206px;
            margin-inline: auto;
        }
    }


    section#cto{
        padding-bottom: 189px;

        &>h2{
            @extend %fdb-bl40;
            margin-bottom: 120px;
            margin-left: 10vw;

        }
        &>p{
            @extend %nunito-r30;
            margin-bottom: 102px;
            text-align: center;
            padding-inline: 15px; 
        }
        
        &>.card-container{
            @extend %flex-center;
            gap: 74px;
            max-width: 1319px;
            margin-inline: auto;

            &>.card{
                background-color: rgba(255, 255, 255, 0.247);
                border-radius: 55px;
                width: 26vw;
                height: 396px;
                @extend %flex-center-column;
                gap: 32px;
                padding-inline: 15px;
                
                .card-icon{
                    width: 100%;
                    @extend %flex-center;
                    height: 50px;

                    &>img{
                        margin: auto;
                        width: 15%;
                    }
                }
                
                &>.card-title{
                    @extend %nunito-bl40;
                    text-align: center;
                    
                }
                &>.card-text{
                    @extend %nunito-r30;
                    text-align: center;
                    &>a{
                        font-size: 18px;
                        @extend %nunito-bl35;
                    }
                    &>a.link{
                        text-decoration: underline;
                    }
                }
            }
        }
        .btn-contact{
            margin-inline: auto;
            margin-top: 122px;
        }
    }


    section#partners{
        height: 989px;
        background: url('../../../../public/images/4.1.webp');
        background-size: 100%;
        background-position: center;

        &>h2{
            padding-top: 123px;
            margin-bottom: 155px;
            margin-left: 124px;
            @extend %fdb-bl60;
        }
        .image-container{
            border: solid 3px $lightblue;
            border-radius: 30px 0 0 30px;
            border-right-width: 0px;
            background-color: transparent;
            backdrop-filter: blur(12px);
            margin-left: 12vw;
            height: 471px;
            @extend %flex-center;
            gap: 196px;

            &>img{
                width: 411px;
            }
        }
    }


    section#realisations{
        margin: 26vh 17vh;
        height: 50vh;

        &>h2{
            @extend %fdb-bl60;
            margin-bottom: 166px;
        }
        .swiper {
        width: 100%;
        height: 100%;
        margin-left: 10vw;
        }

        .swiper-slide {
            cursor: grab;
        text-align: center;
        font-size: 18px;
        // background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        }
     
        .swiper-slide img {
            display: block;
            width: 70%;
            object-fit: cover;
            border-radius: 30px;
        }
        .swiper-slide h4{
            font-weight: normal;
            width: 70%;
            margin-block: 33px 20px;
            font-size: 21px;
            line-height: initial;
            font-family: "nunito-black";
            color: white;
        }
        .swiper-slide p{
            width: 70%;
            margin-bottom: 8vh;
            @extend %nunito-l20;
        }
    }

    section#contact{
        @extend %flex-center;
        background: url('../../../../public/images/4.1.webp');
        background-size: 100%;
        background-position: center;
        height: 792px;
        background-repeat: no-repeat;
        
        .contact-container{
            display: flex;
            gap: 18vw;
            margin-inline: 140px;
        }
        .text-container{
            align-items: start;
            @extend %flex-center-column;
            gap: 50px;

            &>h2{
                @extend %fdb-b80;
            }
            &>h3{
                @extend %nunito-bl50;
            }
            &>p{
                @extend %nunito-r35;
            }

        }
        .form-container{
            border-radius: 21px;
            width: 100%;
            background-color: transparent;
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(12px);
        }
    }
}
@media screen and (max-width:768px) {
    .line-break{
        display: block;
    }
    .acceuil-container{

        section#acceuil{
            justify-content: end;
            align-items: center;
            padding-left: 0;
            padding-bottom: 10vh;
            background:  url(../../../../public/images/ligne-bg-up-down.png);
            background-size: 101%;
            background-repeat: no-repeat;
            background-position-y: 85%;

            &>h1>.lightblue{
                color: $lightblue;

            }
            &>.btn-container{
                gap: 3vw;
            }
        }
        
        section#activity{
            background:  url("../../../../public/images/ligne-bg.png");
            background-size: 101%;
            background-position-y: 25%;
            background-repeat: no-repeat;
            margin-bottom: 89px;

            &>h2{
                padding-bottom: 27px;
            }
            
            &>.container{
                display: inline-block;
                // padding-inline: 21px;
                

                &>p{
                    line-height: 1.5;
                    transform: none;
                    padding-bottom: 75px;

                }
                &>.title-container:first-of-type{
                    float: right;
                    margin-left: 50px;
                    margin-bottom: 105px ;
                    margin-right: 0;
                }
                &>.title-container{
                    position: relative;
                    display: block;
                    border-radius: 30px;
                    width: 221px !important ;
                    height: 112px !important;
                    margin-bottom: 65px;
                    float: left;
                    margin-right: 50px;

                    &>p{
                        position: absolute !important;
                        text-align: start !important;
                        top: -24%;
                        left: -21px;
                    }
                }
            }
            .btn-info{
                float: right;
                margin: 0;
            }
        }

        section#advantages{

            &>h2{
                margin-bottom: 60px;
            }
            &>.card-container{
                flex-direction: column;
                
                &>.card{
                    width: 87vw;
                    padding-inline: 10px;
                    
                }
            }
        }

        section#cto{

            &>h2{
                margin-bottom: 44px;
            }
        }

        section#urbanisme{
            background:  url('../../../../public/images/ligne-bg.png');
            background-position-y:top;
            background-repeat: no-repeat;
            background-size: cover;

            &>h2{
                margin-bottom: 53px;
            }
            &>.selector-container{
                flex-direction: column;
                align-items: center;
                justify-content: normal;
                gap: 20px;

                &>.selector-display{
                    border-radius: 40px;
                    align-items: center;
                    flex-shrink: 0;
                    width: 81vw;
                    min-height: 81vw;
                    padding: 8px;
                    
                    &>.sel-card{
                        transition: all 0.5s ease-in-out;
                        gap: 1vw;
                        // position:initial;
                        margin-inline: 0px;

                        &>.sel-card-title{
                            text-align: center;
                            width: auto;
                            line-height: normal;
                        }
                        &>.sel-card-text{
                            font-size: clamp(1rem, 0.5982rem + 2.0089vw, 1.5625rem);
                            text-align: center;
                            line-height: normal;
                            width: auto;
                        }
                        &>.btn-contact{
                            display: none;
                        }
                    }

                    &>.sel-card-hidden{
                        transform: none;
                    }
                    
                }
                &>.selector{
                    width: 81vw;
                    height: 81vw;
                    overflow-y: scroll;
                }
            }
            &>.btn-info{
                margin-top: 51px;
                margin-bottom: 68px;
            }
        }

        section#cto{
            &>p{
                margin-bottom: 44px;
                text-align: start;
                line-height: 49px;
                width: 80vw;
            }
            &>.card-container{
                flex-direction: column;

                &>.card{
                    width: 80vw;
                    height: 80vw;
                    gap: 10vw;
                
                    &>.card-icon{
                        
                    }
                }
            }
        }
    }
}
@media screen and (min-width:500px) {
    .acceuil-container>section#acceuil>.btn-container{
        gap: 80px;
    }
    .acceuil-container>section#acceuil>.titre{
        line-height: 34px;
    }
}
@media screen and (max-width:1000px) {
    .acceuil-container>section#activity>.container{

        &>p{
            line-height: 32px;
        }
        .title-container{
            width: 31vw;
            height: 196px;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            &>p{
                position: unset;
                text-align: center;
            }
        }
    }
    .acceuil-container{
        section#advantages{

            &>h2{
                margin-bottom: 60px;
            }
            &>.card-container{
                flex-direction: column;
                
                &>.card{
                    width: 87vw;
                    padding-inline: 15px;
                    margin: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }
            }
        }
    }
}
@media screen and (max-width:420px) {
    .acceuil-container>section#cto>.card-container>.card{    
                
        &>.card-icon{
                    display: none;
                }
    }
}