@use '../abstract/' as *;

.acceuil-container{

    section#acceuil{
        padding-top: 90px;
        min-height: 100vh;
        align-items: start;
        @extend %flex-center-down;
        gap: 50px;

        padding-left: 12vw;

        .titre{
            @extend %fdb-bl70;
            padding-bottom: 25px
        }
        &>p{
            @extend %nunito-r30;
        }
        &>.btn-container{
            display: flex;
            gap: 77px;
            margin-bottom: 51px;
        }
    }


    section#activity{
        // background: url('../../../../public/images/double-ligne-bg.png');
        background-size: 101%;
        background-position-y: 100%;
        background-repeat: no-repeat;
        // min-height: 100vh;
        margin-bottom: 191px;
        
        &>h2{
            @extend %fdb-bl60;
            margin-top: 164px;
            padding-bottom: 92px;
            margin-left: 10vw
        }
        &>p{
            @extend %nunito-r25;
            padding-bottom: 249px;
            margin-left: 10vw
        }
        &>.container{
            display: flex;
            gap: 10%;
            align-items: center;
            margin-inline: 10vw 7vw ;
            max-width: 1346px;

            &>p{
                width: 24%;
                @extend %nunito-semib25;
                flex-shrink: 0;
            }
            
            &>.title-container{
                flex-shrink: 0;
                background-color:$transparent;
                backdrop-filter: blur(12px);
                -webkit-backdrop-filter: blur(12px);
                border-radius: 50px;
                width: 30%;
                height: 170px;
                position: relative;
                padding-inline: 10px;
                transition: all 0.2s linear;
                transition: all 0.2s linear;

                &-active{
                    background-color: $lightblue;
                }
                
                &>a{

                    width: 110%;
                    height: 100%;
                    position: absolute;
                    top: -50%;
                    left: -35px;
                    transition: all 0.5s linear;

                    &>p{
                        text-transform: none;
                        @extend %fdb-bl50;
                    }
                }
                &>a:hover{
                    transform: translate(40px,40px);
                }


            }
        }
        &>.btn-info{
            background-color: rgba(255, 255, 255, 0.13);
            backdrop-filter: blur(12px);
            -webkit-backdrop-filter: blur(12px);
            margin-top: 120px;
            margin-inline: 29vw auto;
        }
    }


    section#advantages{
        margin-bottom: 110px;

        &>h2{
            margin-left: 10vw;
            @extend %fdb-bl60;
            width: 61vw;
            margin-bottom: 75px;
        }
        &>p{
            width: 65vw;
            margin-left: 10vw;
            margin-bottom: 75px;
            @extend %nunito-r25;
            
            .discover-link{
                font-family: "Nunito-black";
                @extend %nunito-r25;
            }
        }
        &>.card-container{
            @extend %flex-center;
            margin-inline: auto;
            margin-bottom: 75px;
            gap: 47px;
            max-width: 1346px;

            &>.card{
                background-color:$transparent;
                border-radius: 35px;
                width: 26vw;
                height: 362px;
                gap: 21px;
                @extend %flex-center-column;
                height: 245px;
                transition: background-color 0.2s ease;
                
                
                &>.card-title{
                    @extend %nunito-bl20;
                    text-align: center;
                    width: 90%
                }
                &>.card-text{
                    width: 90%;
                    @extend %nunito-r20;
                    text-align: center;
                    
                    &>.txt-weight{
                        font-family: "Nunito-black";
                        @extend %nunito-r20;
                        
                    }
                    
                }
            }
            &>.card:hover{
                background-color: $highblue;
            }
            
        }
        &>.btn-contact{
            margin-inline: auto;
        }
    }
    

    section#urbanisme{

        &>h2{
            @extend %fdb-bl60;
            margin-bottom: 110px;
            margin-left: 10vw;
        }
        &>.selector-container{
            width: 100%;
            height: 65vh;
            display: flex;
            justify-content: space-between;

            &>.selector-display{
                width: 48.8vw;
                border-radius: 0px 30px 30px 0px;
                background-color: rgba(255, 255, 255, 0.247);
                display: flex;
                justify-content: center;
                align-items: center;
                backdrop-filter: blur(12px);

                
                &>.sel-card{
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 6vh;
                    transition: all 0.5s cubic-bezier(.6,-0.28,.74,.05);

                    &>.sel-card-title{
                        width: 32vw;
                        text-align: center;
                        @extend %nunito-bl30;
                    }
                    &>.sel-card-text{
                        width: 31vw;
                       @extend %nunito-r20;
                    }
                    

                }
                &>.sel-card-hidden{
                    position: absolute;
                    opacity: 0;
                    transform: translateX(-100%);
                }
                &>.sel-card-show{
                    position: initial;
                    opacity: 1;
                    
                }
            }
            &>.selector{
                width: 43vw;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding-right: 15px;
                

                &>a{
                    font-size: clamp(1.25rem, 0.1563rem + 2.1875vw, 2.125rem);
                    @extend %fdb-bl40;
                    line-height: 120%;
                    transition: all 0.2s ease-in-out;
                }
                &>a:hover{
                    color: $lightblue;
                    scale: .9;
                }

            }
        }
        &>.btn-info{
            margin-block: 100px 206px;
            margin-inline: auto;
        }
    }


    section#cto{
        margin-top: 158px;

        &>h2{
            @extend %fdb-bl60;
            margin-bottom: 70px;
            margin-left: 10vw;
            
        }
        &>p{
            @extend %nunito-r30;
            margin-left: 10vw;
            width: 90vw;
            margin-bottom: 120px;
        }
        
        &>.card-container{
            @extend %flex-center;
            gap: 74px;
            max-width: 1319px;
            margin-inline: auto;
            margin-bottom: 102px;
            
            &>.card{
                transition: all .2s linear;
                background-color: $transparent;
                border-radius: 55px;
                width: 26vw;
                height: 362px;
                @extend %flex-center-column;
                gap: 37px;
                backdrop-filter: blur(12px);
                box-shadow: 0px 0px 10px 0px rgba(214, 208, 224, 0.51);
                
                .card-icon{
                    width: 100%;
                    @extend %flex-center;
                    // height: 50px;

                    &>img{
                        margin: auto;
                        width: 20%;
                    }
                }
                
                &>.card-title{
                    width: 90%;
                    @extend %nunito-bl30;
                    text-align: center;
                    
                }
                &>.card-text{
                    width: 90%;
                    @extend %nunito-r20;
                    text-align: center;
                    &>a{
                        @extend %nunito-bl20;
                        
                        &.link{
                            text-decoration: underline;
                        }
                    }
                }
            }
            &>.card:hover{
                box-shadow: 0px 0px 10px 0px $lightblue;
                // box-shadow: -43px 29px 65px -23px rgba(214,208,224,0.51);
            }
        }
        .btn-contact{
            margin-inline: auto;
        }
    }


    section#partners{
        margin-top: 237px;
        // height: 989px;
        

        &>h2{
            margin-left: 10vw;
            @extend %fdb-bl60;
            margin-bottom: 128px;
        }
        .image-container{
            border-radius: 30px 0 0 30px;
            // border-right-width: 0px
            background-color: #cadcf9ab;
            margin-left: 10vw;
            height: 27vw;
            @extend %flex-center;
            gap: 147px;
            margin-bottom: 163px;
            backdrop-filter: blur(6px);

            &>img{
                // width: 344px;
                width: 20%;
                height: auto;
            }
            &>.image-container-title{
                display: none;
                @extend %fdb-bl60;
            }
        }
    }


    section#realisations{
        margin: 26vh 17vh;
        height: 50vh;

        &>h2{
            @extend %fdb-bl60;
            margin-bottom: 166px;
        }
        .swiper {
        width: 100%;
        height: 100%;
        margin-left: 10vw;
        }

        .swiper-slide {
            cursor: grab;
        text-align: center;
        font-size: 18px;
        // background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        }

        .swiper-slide img {
            display: block;
            width: 70%;
            object-fit: cover;
            border-radius: 30px;
        }
        .swiper-slide h4{
            font-weight: normal;
            width: 70%;
            margin-block: 33px 20px;
            font-size: 21px;
            line-height: initial;
            font-family: "nunito-black";
            color: white;
        }
        .swiper-slide p{
            width: 70%;
            margin-bottom: 8vh;
            @extend %nunito-l20;
        }
    }
}

@media screen and (max-width:768px) {

    .acceuil-container{

        section#acceuil{
            justify-content: end;
            align-items: center;
            padding-left: 0;
            gap: 0;
            // padding-bottom: 10vh;
            // background:  url(../../../../public/images/ligne-bg-up-down.png);
            background-size: 101%;
            background-repeat: no-repeat;
            background-position-y: 85%;

            &>h1.titre{
                margin-bottom: 32px;
                padding-bottom: 0;
                text-align: center;
                
                &>.lightblue{
                    color: $lightblue;
                }
            }
            &>p{
                text-align: center;
                width: 95%;
                margin-bottom: 67px;
            }

            &>.btn-container{
                gap: 20px;
            }
        }
        
        section#activity{
            // background:  url("../../../../public/images/ligne-bg.png");
            background-size: 101%;
            background-position-y: 25%;
            background-repeat: no-repeat;
            margin-bottom: 89px;
            margin-top: 91px;

            &>h2{
                margin-top: 0;
                padding-bottom: 27px;
            }

            &>p{
                display: none;
            }
            .btn-info{
                float: right;
                margin: 0;
            }
        }

        section#advantages{
            margin-bottom: 68px;

            &>h2{
                margin-bottom: 60px;
            }
            &>.card-container{
                flex-direction: column;
                
                &>.card{
                    width: 87vw;
                    padding-inline: 10px;
                    
                }
            }
        }

        section#urbanisme{
            // background:  url('../../../../public/images/ligne-bg.png');
            background-position-y:top;
            background-repeat: no-repeat;
            background-size: cover;

            &>h2{
                margin-bottom: 53px;
            }
            &>.selector-container{
                flex-direction: column;
                align-items: center;
                justify-content: normal;
                gap: 20px;
                height: auto;

                &>.selector-display{
                    border-radius: 40px;
                    align-items: center;
                    flex-shrink: 0;
                    width: 81vw;
                    min-height: 81vw;
                    padding: 8px;
                    margin-bottom: 60px;
                    padding-block: 15px;
                    
                    &>.sel-card{
                        transition: all 0.5s ease-in-out;
                        gap: 4vw;
                        width: 90%;
                        // position:initial;
                        margin-inline: 0px;

                        &>.sel-card-title{
                            text-align: center;
                            width: auto;
                            line-height: normal;
                        }
                        &>.sel-card-text{
                            font-size: clamp(1rem, 0.5982rem + 2.0089vw, 1.5625rem);
                            text-align: center;
                            line-height: normal;
                            width: auto;
                        }
                        &>.btn-contact{
                            display: none;
                        }
                    }

                    &>.sel-card-hidden{
                        transform: none;
                    }
                    
                }
                &>.selector{
                    width: 81vw;
                    gap: 15px;
                    // height: 81vw;
                    // overflow-y: scroll;

                    &>a{
                        text-align: start;
                    }
                }
            }
            &>.btn-info{
                margin-top: 51px;
                margin-bottom: 68px;
            }
        }

        section#cto{
            margin-top: 0;
            &>h2{
                margin-bottom: 53px;
            }

            &>p{
                margin-bottom: 44px;
                text-align: start;
                width: 80vw;
            }
            &>.card-container{
                flex-direction: column;
                margin-bottom: 70px;

                &>.card{
                    width: 80vw !important;
                    // height: 80vw;
                    // gap: 10vw;
                    padding: 35px;
                    height: auto;
                
                    &>.card-icon{
                        width: 60%;
                    }
                }
            }
        }

        section#partners{
            margin-top: 70px;


            &>h2{
                display: none;
            }

            .image-container{
                border-radius: 30px;
                margin-inline: auto;
                width: 80%;
                flex-direction: column;
                height: auto;
                gap: 60px;
                padding-block: 50px;

                &>.image-container-title{
                    display: inline;
                    text-align: center;
                    
                }
                &>img{
                    width: 46%;
                    height: auto;
                }
            }
        }
    }
}

@media screen and (max-width:1000px) {

    .acceuil-container{
        section#advantages{

            &>h2{
                margin-bottom: 60px;
            }
            &>.card-container{
                flex-direction: column;
                margin-inline: 10vw;

                
                &>.card{
                    width: 87vw;
                    padding-inline: 15px;
                    margin: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }
            }
        }
        
        section#activity>p{
            padding-bottom: 100px;
        }
        section#activity>.container{
            display: inline-block;
            margin-inline: 17vw;
            width: 67%;
            

            &>p{
                transform: none;
                padding-bottom: 104px;
                width: 55%;

            }
            &>.title-container:first-of-type{
                float: right;
                margin-left: 50px;
                margin-bottom: 105px ;
            }

            &>.title-container{
                position: relative;
                display: block;
                border-radius: 30px;
                width: 244px;
                height: 125px;
                margin-bottom: 65px;
                float: left;

                &>p{
                    position: absolute !important;
                    text-align: start !important;
                    top: -24%;
                    left: -21px;
                }
            }
        }

        section#cto{
            &>.card-container{
                gap: 35px;

                &>.card{
                    width: 28vw;
                }
            }
        }

    }
}
@media screen and (max-width:420px) {
    .acceuil-container>section#cto>.card-container>.card{    
                
        &>.card-icon{
                    display: none;
                }
    }
    .acceuil-container>section#acceuil{

        
        &>h1.titre{
            width: 95%;
            margin-inline: auto;
        }
        &>.btn-container{
            flex-direction: column;
        }
    }
    .acceuil-container>section#activity>.container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        &>.title-container{
            margin-left: 0 !important;
            padding: 0;

            &>a{
                position: static;
                
                &>p{
                    text-align: center;
                    font-size: 30px;
                }
            }
        }
    }            
}

@media screen and (min-width:1780px) {
    .acceuil-container> section#activity > .container{
        margin-inline: auto;
    }
}