@use '../abstract/' as *;

//!==========================
//!=========Mobile==========
//!==========================
html{
    background-color: $black;
}
body{
    overflow-x: hidden;
}

header{
    z-index: 1000;
    position:fixed;
    width: 100%;
    justify-content: space-between;
    padding-inline: 40px;
    @extend %flex-center;
    height: 90px;
    background: #80808014;
    background-color: transparent;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 0px 15px 1.5px #31313175;
    
    .logo-container{
        display: block;
        // width: 50px;
        // height: 50px;
        
        .logo{
            width: 50px;
        }
    }
    nav{
        position: absolute;
        top: 0;
        transition: right 0.2s ease-in-out;
        height: 99vh;
        width: 100vw;
        background: linear-gradient(0deg, rgba(17,17,17,1) 0%, rgba(202,220,249,1) 100%); 
        padding-inline: 14vw ;
        padding-top: 133px;

        &>ul.list-container{
            display: flex;
            flex-direction: column;
            gap: 35px;
            align-items: self-start;
            
            &>li{
                list-style: none; 
            }
        }
        .nav-link{
            @extend %fdb-b25;
        }
        .btn-container{
            display: flex;
            justify-content: center;
            width: 100%;

            .btn-contact{
                margin-top: 189px;
                @extend %btn-contact;
            }
        }
    }
    nav.hidden{
        right: -130vw;
    }
    nav.show{
        right: 0;
    }
    .menu-icon{
        cursor: pointer;
        width: 31.23px;
        height: 17.54px;
        
        &-close{
            position: absolute;
            top: 37px;
            right: 41px;
        }
    }
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-block: 56px 64px;

    &>.logo-container{
        width: 123px;
        height: 69px;
        background-color: #CADCF9;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 75px;
        
        &>img{
            width: 75%;
            height: 75%;
        }
    }
    &>.container{
        @extend %flex-center-column;
        gap: 36px;
        padding-inline: 30px;

        &>.text{
            &>p{
                text-align: center;
                @extend %nunito-r25--softblue;

                &>gras{
                    color: $lightblue;
                }
            }
        }
        &>.links{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            margin-inline: 6vw 11vw;
            list-style: none;
            
            .nav-link{
                @extend %nunito-r25--softblue;
            }

            
        }
        &>.contact{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 35px;

            &>p{
                text-align: center;
                @extend %nunito-r25--softblue;
            }

            &>.rs{
                width: 150px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #111A2B;
                border-radius: 20px;
                border: 1px solid $lightblue;
           
                
                &>a{
                    width: 37%;
                    height: 43%;

                    &>img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .btn-contact-small{
                display: none;
            }
        }
    }
    .small-line{
        height: 2px;
        background-color: $lightblue;
        width: 100%;
        margin-right: -25vw;
        margin-top: 46px;
        margin-bottom: 20px;
    }
    &>p{
        margin-bottom: 11px;
    }
    
    .smalltext{
        color: $lightblue;
        font-size: 11px;
    }
}


/* Medium devices (landscape tablets, 1265px and up) */
@media screen and (min-width: 1265px) {
    
    header{
        justify-content: space-between;
        padding-left: 65px;
        padding-right: 95px;
        
        &>nav{
            position: relative;
            width: auto;
            height: auto;
            display: block;
            right: auto !important;
            background: none;
            padding: 0;
            
                &>ul.list-container{
                display: flex;
                flex-direction: row;
                gap: 50px;
                justify-content: center; 
                align-items: center;

                    .nav-link{
                        font-size: clamp(0.625rem, 0.1964rem + 0.8929vw, 1rem);
                        font-family: "Nunito-regular";
                        line-height: 0px;
                    }
                    &>.btn-container{
                        margin-left: 35px;
                        width: auto;

                        &>.btn-contact{
                            margin: 0;
                        }
                    }
                }
        }
    }
    // bouton menu mobile
    header > #menu_icon{
        display: none;
    }
    nav>#menu_icon_close{
        display: none;
    }
}

// /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 789px) {
    footer{
        

        &>.logo-container{
            width: 210px;
            height: 118px;
            
            &>img{
                max-width: 309px;
                max-height: 174px;

            }
        }
        &>.container{
            flex-direction: row;
            align-items: start;
            &>.links{
                align-items: start;
            }
            &>.contact{

                &>.rs{
                    width: 183px;
                    height: 80px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #111A2B;
                    border-radius: 20px;


                    &>img{
                        width: 37%;
                        height: 43%;
                    }
                }
                &>.btn-contact-small{
                    display: inline-block;
                }
            }
        }
    }
}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}