@use '../abstract/' as *;

.expertise-container{
    section#hero{
        min-height: 100vh;
        justify-content: end;
        align-items: end;
        @extend %flex-center-column;
        background: url("../../../../public/images/4.1.webp");
        background-position: center;
        background-repeat: no-repeat;
        
        &>h1{
            @extend %fdb-b80;
            text-align: end;
            z-index: 1;
            margin-right: 50px;
        }
        &>.btn-contact{
            margin-top: 100px;
            margin-bottom: 100px;
            z-index: 1;
            margin-right: 50px;
        }
        .bg-overlay-gradient{
            position: absolute;
                background: linear-gradient(180deg, rgba(255,255,255,0) 91%, rgba(17,17,17,1) 100%);
                height: 100%;
                width: 100%;
                z-index: 2;
            }
            .bg-overlay{
                position: absolute;
                background: #00000085;
                height: 100%;
                width: 100%;
                z-index: 0;
        }
    }

    section#about{
        margin-top: 100px;
        margin-bottom: 202px;
        min-height: 100vh;
        
        &>h2{
            // line-height: 75px;
            margin-left: 13vw;
            margin-bottom: 136px;
            @extend %fdb-bl70;
        }
        &>.text-container{
            
            width: 75vw;
            background-color: $transparent;
            backdrop-filter: blur(12px);
            -webkit-backdrop-filter: blur(12px);
            margin-inline: auto;
            padding-inline: 8vw ;
            padding-block: 100px ;
            border-radius: 30px;

            &>p{
                text-align: center;
                @extend %nunito-r25;
            }
        }
    }

    section#prestation{
        min-height: 100vh;
        margin-bottom: 150px;

        &>h2{
            margin-bottom: 88px;
            margin-left: 8vw;
            @extend %fdb-bl70;
        }
        &>p{
            text-align: center;
            width: 85vw;
            margin: auto;
            @extend %nunito-r25;
            margin-bottom: 70px;
        }
        &>.card-container{
            width: 70vw;
            height: 400px;
            @extend %flex-center;
            margin-inline: auto;
            gap: 2%;

            .card{
                padding-top: 100px;
                justify-content: start;
                @extend %flex-center-column;
                background-color: $transparent;
                backdrop-filter: blur(12px);
                -webkit-backdrop-filter: blur(12px);
                width: 30%;
                height: 100%;
                border-radius: 45px;
                // gap: 5vw;

                .card-title{
                    margin-bottom: 100px;
                    line-height: 24px;
                    font-size: 20px;
                    text-align: center;
                    @extend %nunito-bl30;
                    padding-inline: 5px;
                    
                }
                .card-text{
                    width: 80%;
                    font-size: 16px;
                    line-height: 26px;
                    text-align: center;
                    @extend %nunito-r25;
                }
            }
        }
    }
    section#guide{
        min-height: 100vh;

        &>.first-title{
            margin-inline: auto;
            text-align: center;
            @extend %fdb-bl70;
            // line-height: 75px;
            margin-bottom: 110px;
        }
        &>.btn-contact{
            margin-inline: auto;
            margin-bottom: 140px;
        }
        &>.second-title{
            @extend %fdb-bl70;
            line-height: 75px;
            margin-left: 13vw;
            margin-bottom: 150px;
        }
        &>p{
            @extend %nunito-r25;
            width: 50vw;
            float: right;
            text-align: right;
            margin-right: 50px;
            margin-bottom: 100px;
        }
        .swiper {
            width: 100%;
            height: 100%;
            margin-left: 10vw;
        }
    
            .swiper-slide {
                cursor: grab;
            text-align: center;
            font-size: 18px;
            // background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            }
         
            .swiper-slide img {
                display: block;
                width: 70%;
                object-fit: cover;
                border-radius: 30px;
            }
            .swiper-slide h4{
                font-weight: normal;
                width: 70%;
                margin-block: 33px 20px;
                font-size: 21px;
                line-height: initial;
                font-family: "nunito-black";
                color: white;
            }
            .swiper-slide p{
                width: 70%;
                margin-bottom: 8vh;
                @extend %nunito-l20;
            }
    }
}
.expertise-container2{

}


@media screen and (max-width:768px) {
    .expertise-container{
        section#hero{
            &>h1{
               font-family: "forma-djr-display-black";
               font-size: clamp(1.5625rem, 0.8562rem + 3.4247vw, 2.5rem);
               line-height: 30px;
               margin-inline: auto;
               text-align: center;
               
               &>.lightblue{
                font-family: "forma-djr-display-black";
                font-size: clamp(1.5625rem, 0.8562rem + 3.4247vw, 2.5rem);
                color: $lightblue;
               }
            }
            &>.btn-contact{
                margin-inline: auto;
            }
        }
        section#about{
            margin-bottom: 0;
            &>h2{
                line-height: 37px;
            }
        }
        section#prestation{
            &>.card-container{
                flex-direction: column;
                height: auto;
                gap: 20px;
                width: 90vw;

                &>.card{
                    width: 100%;
                    padding-top: 50px;

                    &>.card-title{
                        margin-inline: 15px;
                        margin-bottom: 50px;
                        color: $lightblue;

                        &>.card-txt-weight{
                            color: $lightblue;
                        }
                    }
                    &>.card-text{
                        padding-bottom: 30px;
                        
                        .card-txt-weight{
                            font-family: "Nunito-black";
                        }
                    }
                }
            }
        }
        section#guide{
            p{
                width: 80vw;
            }
        }
    }
    .expertise-container2{

        section#faq{
            margin-bottom: 80px;
        }
    }
}
@media screen and (max-width:1025px) {
.expertise-container{
    
    section#prestation{
        
        &>.card-container{
            width: 90vw;
            min-height: 420px;

            &>.card{
               padding-top: 50px;
               justify-content: center; 
               
               &>.card-title{
                margin-bottom: 50px;
                }
                &>.card-text{
                    width: 90%;
                }
            }
        }
    }
}
}